#positions-container {
  height: 102px;
}

#candidates-container {
  height: 102px;
  margin-top: -5px;
}

.position-item {
  border: solid 1px;
  float: left;
  height: 100px;
  width: 100px;
  text-align: left;
}

.candidate-item {
  border: solid 1px;
  float: left;
  font-size: 14px;
  height: 160px;
  width: 100px;
}

#canvas-container {
  border: solid 0px;
  width: 1020px;
}

#filter {
  display: inline-block;
  vertical-align: top;
  width: 500px;
}

.filter-item {
  padding-bottom: 15px;
  padding-top: 15px;
}

.filter-item .label {
  display: inline-block;
  width: 100px;
}

#wiring {
  border: solid 0px;
  display: inline-block;
}

.filter-item .jslider {
  display: inline-block;
  width: 60%;
}
