#positions-container {
  height: 102px;
  padding-left: 100px;
}

#candidates-container {
  height: 102px;
  margin-top: -5px;
  padding-left: 100px;
}

.position-item {
  border: solid 1px;
  float: left;
  height: 100px;
  width: 100px;
  text-align: left;
}

.candidate-item {
  border: solid 2px;
  float: left;
  font-size: 14px;
  height: 160px;
  width: 100px;
}

#canvas-container {
  border: solid 0px;
  margin-left: 100px;
  width: 1020px;
}